@import 'https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&display=swap'

$bg-dark: #192444
$family: "Barlow Semi Condensed', sans-serif"
$bg-light: #f3f4f6
$scissors: #EBA921
$scissors-dark: #C96A16
$scissors-gradient: #eca922
$paper: #5572F2
$paper-dark: #2945C3
$paper-gradient: #133afc
$rock: #DF405E
$rock-dark: #991431
$rock-gradient: #dd405d

$lizard: hsl(261, 73%, 60%)
$lizard-gradient: hsl(261, 72%, 63%)
$cyan: hsl(189, 59%, 53%)
$cyan-gradient: hsl(189, 58%, 57%)

*
    box-sizing: border-box
    margin: 0
    padding: 0

body
    font-family: $family
    background-color: $bg-dark
    color: white

    .wrapper
        margin: 4rem auto
        display: flex
        align-items: center
        flex-direction: column
        justify-content: space-evenly

        #game
            height: 40vh
            margin: 13rem 5rem
            background-image: url("images/bg-triangle.svg")
            background-position: center
            background-size: contain
            background-repeat: no-repeat
            position: relative

            #paper
                cursor: pointer
                width: 180px
                height: 180px
                border-radius: 50%
                box-shadow: inset 1px 20px 5px -5px #b3b3b3bf
                background-color: $bg-light
                position: absolute
                top: 0
                left: 30%
                transform: translate(-50%,-50%)
                object-fit: contain
                display: flex
                z-index: 10
                &::after
                    content: ''
                    border: 25px solid $paper
                    box-shadow: 0 12px 2px 0 $paper-dark
                    width: 230px
                    height: 230px
                    border-radius: 50%
                    position: absolute
                    top: 50%
                    left: 50%
                    transform: translate(-50%,-50%)
                img
                    width: 100px
                    margin: auto
            #scissor
                cursor: pointer
                width: 180px
                height: 180px
                border-radius: 50%
                box-shadow: inset 1px 20px 5px -5px #b3b3b3bf
                background-color: $bg-light
                position: absolute
                top: 0
                right: 10%
                transform: translate(-50%,-50%)
                object-fit: contain
                display: flex
                z-index: 10
                &::after
                    content: ''
                    border: 25px solid $scissors
                    box-shadow: 0 12px 2px 0 $scissors-dark
                    width: 230px
                    height: 230px
                    border-radius: 50%
                    position: absolute
                    top: 50%
                    left: 50%
                    transform: translate(-50%,-50%)
                img
                    width: 100px
                    margin: auto
            #rock
                cursor: pointer
                width: 180px
                height: 180px
                border-radius: 50%
                box-shadow: inset 1px 20px 5px -5px #b3b3b3bf
                background-color: $bg-light
                position: absolute
                bottom: 10%
                right: 30%
                transform: translate(-55%,45%)
                object-fit: contain
                display: flex
                z-index: 10
                &::after
                    content: ''
                    border: 25px solid $rock
                    box-shadow: 0 12px 2px 0 $rock-dark
                    width: 230px
                    height: 230px
                    border-radius: 50%
                    position: absolute
                    top: 50%
                    left: 50%
                    transform: translate(-50%,-50%)
                img
                    width: 100px
                    margin: auto

    .attribution
        font-size: 12px
        text-align: center
        a
            color: hsl(228, 45%, 44%)
